{% extends "templates/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="">
            <div class="card shadow">
                <div class="card-body">
                    <h2 class="card-title text-center mb-4">Edit my Profile</h2>
                    
                    <form method="post">
                        {% csrf_token %}
                        {{ form|crispy }}
                        
                        <div class="d-grid gap-2 mt-4">
                            <button type="submit" class="btn btn-primary btn-lg">Apply</button>
                        </div>
                    </form>
                    
                    <!--
                    <div class="text-center mt-3">
                        <small class="text-muted">Don't have an account? <a href="{% url 'register' %}">Create it!</a></small>
                    </div>
                    -->
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}