{% extends "templates/base.html" %}
{% block content %}
{% load humanize %}
<div class="card">
  <img src="/static/banner.webp" class="card-img-top" alt="...">
  <img src="/static/pfp.webp" class="" alt="..." style="
    position: relative;
    width: 128px;
    height: 128px;
    border-radius: 100%;
    top: -64px;
    left: 32px;
">
  <div class="card-body" style="margin-top: -64px;">
    <h5 class="card-title">{{ profile.username }}</h5>
    <p class="card-text">{{ profile.bio }}</p>

    {% if profile.id == user.id %}
      <a href="/users/edit/" class="btn btn-outline-primary">Edit</a>
    {% else %}
        <a href="#" class="btn btn-primary">Follow</a>
    {% endif %}
  </div>
</div>
{% endblock %}
